<!DOCTYPE html>
<html>
<head>
	<title>Carousel Template</title>
	<link href="bootstrap.css" rel="stylesheet">
	<link href="bootstrap-responsive.css" rel="stylesheet">
	<link href="custom.css" rel="stylesheet">	
</head>
<body>
	<div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">

          <center><%= image_tag("slide1.png")%></center>
          <div class="container">
            <div class="carousel-caption">

              			<a href = "/corevalues"><h1 style="color:white">Core Values: Top 5 Teams</h1></a>
			  <table class = "table table-bordered table-condensed pretty">
			    <tr bgcolor="#FFFFFF">
			      <th>Inspiration Total</th>
			      <th>Team Work Total</th>
			      <th>Gracious Professionalism Total</th>
			      <th><%= sortableCV "coreValueTotal", "Core Value Total" %></th>
			    </tr>

			  <% @corevalues.take(5).each do |corevalue| %>
			    <tr bgcolor="#FFFFFF">
			      <td><%= corevalue.inspirationTotal %></td>
			      <td><%= corevalue.teamworkTotal %></td>
			      <td><%= corevalue.graciousProfessionalismTotal %></td>
			      <td><%= corevalue.coreValueTotal %></td>
			    </tr>
			  <% end %>
			  </table>
			  
			  
			  
            </div>
          </div>
        </div>
        <div class="item">
          <center><%= image_tag("slide1.png") %></center>
          <div class="container">
            <div class="carousel-caption">
              <a href = "/projects"><h1 style="color:white">Project: Top 5 Teams</h1></a>
			  <table class = "table table-bordered table-condensed  pretty">
			    <tr bgcolor="#FFFFFF">
			      <th>Research Total</th>
			      <th>Innovative Solution Total</th>
			      <th>Presentation Total</th>
			      <th><%= sortableP "projectTotal", "Project Total" %></th>
			    </tr>

			  <% @projects.take(5).each do |project| %>
			    <tr bgcolor="#FFFFFF">
			      <td><%= project.researchTotal %></td>
			      <td><%= project.innovativeSolutionTotal %></td>
			      <td><%= project.presentationTotal %></td>
			      <td><%= project.projectTotal %></td>
			    </tr>
			  <% end %>
			  </table>

            </div>
          </div>
        </div>
		
		
        <div class="item">
          <center><%= image_tag("slide1.png") %></center>
          <div class="container">
            <div class="carousel-caption">
              <a href = "/robotdesigns"><h1 style="color:white">Robot Design: Top 5 Teams</h1></a>
			  <table class = "table table-bordered table-condensed  pretty">
			    <tr bgcolor="#FFFFFF">

			      <th>Mechanical Design Total</th>
			      <th>Programming Total</th>
			      <th>Strategy/Innovation Total</th>
			      <th><%= sortableRD "robotDesignTotal" , "Robot Design Total" %></th>
			    </tr>

			  <% @robotdesigns.take(5).each do |robotdesign| %>
			    <tr bgcolor="#FFFFFF">
			      <td><%= robotdesign.mechanicalDesignTotal %></td>
			      <td><%= robotdesign.programmingTotal %></td>
			      <td><%= robotdesign.strategyInnovationTotal %></td>
			      <td><%= robotdesign.robotDesignTotal %></td>
			    </tr>
			  <% end %>
			  </table>
              
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->
	
	<br/><br/><br/><br/><br/><br/>
	<p>Temporary Test Links</p>
	<li><%= link_to "Judges", '/judges' %></li> <br />
	<li><%= link_to "Admins", '/admins' %></li> <br />
	<li><%= link_to "Core Values", '/corevalues' %></li> <br />
	<li><%= link_to "Robot Design", 'robotdesigns' %></li> <br />
	<li><%= link_to "Project", 'projects' %></li> <br />
	<li><%= link_to "Admin Console", 'adminconsole/console' %></li> <br />
</body>
</html>