<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="refresh" content="60" />
	
	<title>Carousel Template</title>
	<link href="bootstrap.css" rel="stylesheet">
	<link href="bootstrap-responsive.css" rel="stylesheet">
	<link href="custom.css" rel="stylesheet">	
</head>
<body>
	<div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">

          <center><%= image_tag("slide1.png")%></center>
          <div class="container">
            <div class="carousel-caption">

              			<a href = "/corevalues"><h1 style="color:white">Core Values: Top 5 Teams</h1></a>
			  <table class = "table table-bordered table-condensed pretty">
			    <tr bgcolor="#FFFFFF">
					<th>Team #</th>
					<th>Inspiration Total</th>
					<th>Team Work Total</th>
					<th>Gracious Professionalism Total</th>
					<th>Core Value Total<%# sortableCV "coreValueTotal", "Core Value Total" %></th>
			    </tr>

			  <% @corevalues.take(5).each do |corevalue| %>
			    <tr bgcolor="#FFFFFF">
					<td><%= corevalue.teamNumber %></td>
					<td><%= corevalue.inspirationTotal %></td>
					<td><%= corevalue.teamworkTotal %></td>
					<td><%= corevalue.graciousProfessionalismTotal %></td>
			      <td><%= corevalue.coreValueTotal %></td>
			    </tr>
			  <% end %>
			  </table>
			  
			  
			  
            </div>
          </div>
        </div>
        <div class="item">
          <center><%= image_tag("slide1.png") %></center>
          <div class="container">
            <div class="carousel-caption">
              <a href = "/projects"><h1 style="color:white">Project: Top 5 Teams</h1></a>
			  <table class = "table table-bordered table-condensed  pretty">
			    <tr bgcolor="#FFFFFF">
					<th>Team #</th>
					<th>Research Total</th>
					<th>Innovative Solution Total</th>
					<th>Presentation Total</th>
					<th>Project Total<%# sortableP "projectTotal", "Project Total" %></th>
			    </tr>

			  <% @projects.take(5).each do |project| %>
			    <tr bgcolor="#FFFFFF">
					<td><%= project.teamNumber %></td>
					<td><%= project.researchTotal %></td>
					<td><%= project.innovativeSolutionTotal %></td>
					<td><%= project.presentationTotal %></td>
					<td><%= project.projectTotal %></td>
			    </tr>
			  <% end %>
			  </table>

            </div>
          </div>
        </div>
		
		
        <div class="item">
          <center><%= image_tag("slide1.png") %></center>
          <div class="container">
            <div class="carousel-caption">
              <a href = "/robotdesigns"><h1 style="color:white">Robot Design: Top 5 Teams</h1></a>
			  <table class = "table table-bordered table-condensed  pretty">
			    <tr bgcolor="#FFFFFF">
					<th>Team #</th>
					<th>Mechanical Design Total</th>
					<th>Programming Total</th>
					<th>Strategy/Innovation Total</th>
					<th>Robot Design Total<%# sortableRD "robotDesignTotal" , "Robot Design Total" %></th>
			    </tr>

			  <% @robotdesigns.take(5).each do |robotdesign| %>
			    <tr bgcolor="#FFFFFF">
					<td><%= robotdesign.teamNumber %></td>
					<td><%= robotdesign.mechanicalDesignTotal %></td>
					<td><%= robotdesign.programmingTotal %></td>
					<td><%= robotdesign.strategyInnovationTotal %></td>
					<td><%= robotdesign.robotDesignTotal %></td>
			    </tr>
			  <% end %>
			  </table>
              
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->
	
	<center>
		<div class="btn-group">
			<form action = "/corevalues"><button class="btn btn-custom-red">Core Values</button></form>
		</div>
		<div class="btn-group">
			<form action = "/robotdesigns"><button class="btn">Robot Design</button></form>
		</div>
		<div class="btn-group">
			<form action = "/projects"><button class="btn btn-custom-blue">Project</button></form>
		</div>
	</center>
</body>
</html>