<!DOCTYPE html>
<html>
<head>
	<body>
		<br/><br/><br/><br/><br/><br/>
		<p>Temporary Test Links</p>
		<li><%= link_to "Judges", '/judges' %></li> <br />
		<li><%= link_to "Admins", '/admins' %></li> <br />
		<li><%= link_to "Core Values", '/corevalues' %></li> <br />
		<li><%= link_to "Robot Design", 'robotdesigns' %></li> <br />
		<li><%= link_to "Project", 'projects' %></li> <br />
	</body>
	
</head>
</html>