<h2>Sign Up</h2>
<div class="row" >
  <div class="span6 offset3">
  <div class="actions">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

	<div class="field">
		<%= f.label :email %><br />
		<%= f.email_field :email, :autofocus => true %>
	</div>
  	<div class="field">
		<%= f.label :password %><br />
		<%= f.password_field :password %>
	</div>
	<div class="field">
		<%= f.label :password_confirmation %><br />
		<%= f.password_field :password_confirmation %>
	</div>
    <div class="field">
      <%= f.label :firstName %><br />
      <%= f.text_field :firstName %>
    </div>
    <div class="field">
      <%= f.label :lastName %><br />
      <%= f.text_field :lastName %>
    </div>
    <div class="field">
      <%= f.label :street %><br />
      <%= f.text_field :street %>
    </div>
    <div class="field">
      <%= f.label :city %><br />
      <%= f.text_field :city %>
    </div>
    <div class="field">
      <%= f.label :zip %><br />
      <%= f.number_field :zip %>
    </div>
    <div class="field">
      <%= f.label :state %><br />
      <%= f.text_field :state %>
    </div>
    <div class="field">
      <%= f.label :areaCode %><br />
      <%= f.number_field :areaCode %>
    </div>
    <div class="field">
      <%= f.label :phoneNumber %><br />
      <%= f.number_field :phoneNumber %>
    </div>
	

  <div><%= f.submit "Sign Up"  , class: 'btn btn-large btn-primary' %></div>
<% end %>

<%= render "devise/shared/links" %>
	  </div>
  </div>
</div>