<p id="notice"><%= notice %></p>

<p>
	<b>First Name:</b>
	<%= @admin.firstName %>
</p>

<p>
	<b>Last Name:</b>
	<%= @admin.lastName %>
</p>

<p>
	<b>Street:</b>
	<%= @admin.street %>
</p>

<p>
	<b>City:</b>
	<%= @admin.city %>
</p>

<p>
	<b>Zip:</b>
	<%= @admin.zip %>
</p>

<p>
	<b>State:</b>
	<%= @admin.state %>
</p>

<p>
	<b>Area Code:</b>
	<%= @admin.areaCode %>
</p>

<p>
	<b>phoneNumber:</b>
	<%= @admin.phoneNumber %>
</p>

<p>
	<b>Username:</b>
	<%= @admin.userName %>
</p>

<p>
	<b>Email:</b>
	<%= @admin.email %>
</p>


<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>
