<h1>Search Results</h1>

<% if @search_core.count > 0 %>
	<h4>Core Values</h4>
	<table class = "table table-bordered table-striped table table-hover table-condensed">
		<!--
		<td colspan="5" style="font-weight:bold; background-color: #E8E8E8; text-decoration:underline">Core Values</td>
	-->

	<tr>
		<th>Team Number</th>
		<th>Inspiration Total</th>
		<th>Team Work Total</th>
		<th>Gracious Professionalism Total</th>
		<th>Core Value Total</th>
	</tr>

	<% @search_core.each do |sc| %>
	<tr>
		<td><%= sc.teamNumber %></td>
		<td><%= sc.inspirationTotal %></td>
		<td><%= sc.teamworkTotal %></td>
		<td><%= sc.graciousProfessionalismTotal %></td>
		<td><%= sc.coreValueTotal %></td>
	</tr>
	<% end %>
	</table>
	<br><br>
<% end %>

<% if @search_project.count > 0 %>
	<h4>Project</h4>
	<table class = "table table-bordered table-striped table table-hover table-condensed">
		<!--
		<td colspan="5" style="font-weight:bold; background-color: #E8E8E8; text-decoration:underline">Core Values</td>
	-->

	<tr>
		<th>Team Number</th>
		<th>Research Total</th>
		<th>Innovative Solution Total</th>
		<th>Presentation Total</th>
		<th>Project Total</th>
	</tr>

	<% @search_project.each do |p| %>
	<tr>
		<td><%= p.teamNumber %></td>
		<td><%= p.researchTotal %></td>
		<td><%= p.innovativeSolutionTotal %></td>
		<td><%= p.presentationTotal %></td>
		<td><%= p.projectTotal %></td>
	</tr>
	<% end %>
	</table>
	<br><br>
<% end %>


<% if @search_robot_design.count > 0 %>
	<h4>Robot Design</h4>
	<table class = "table table-bordered table-striped table table-hover table-condensed">
		<!--
		<td colspan="5" style="font-weight:bold; background-color: #E8E8E8; text-decoration:underline">Core Values</td>
	-->

	<tr>
		<th>Team Number</th>
		<th>Mechanical Design Total</th>
		<th>Programming Total</th>
		<th>Strategy/Innovation Total</th>
		<th>Robot Design Total</th>
	</tr>

	<% @search_robot_design.each do |tn| %>
	<tr>
		<td><%= tn.teamNumber %></td>
		<td><%= tn.mechanicalDesignTotal %></td>
		<td><%= tn.programmingTotal %></td>
		<td><%= tn.strategyInnovationTotal %></td>
		<td><%= tn.robotDesignTotal %></td>
	</tr>
	<% end %>
	</table>
	<br><br>
<% end %>

<% if @search_core.count == 0 && @search_project.count == 0 && @search_robot_design.count == 0 %>
<center><h4>No results for your query</h4></center>
<% end %>