<div class="row" >
  <div class="span6 offset3">
  <div class="actions">
<%= form_for(@judge) do |f| %>
  <% if @judge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @judge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
	<%= f.label :password %><br />
	<%= f.password_field :password %>
  </div>
  <div class="field">
	<%= f.label :password_confirmation %><br />
	<%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :firstName %><br />
    <%= f.text_field :firstName %>
  </div>
  <div class="field">
    <%= f.label :lastName %><br />
    <%= f.text_field :lastName %>
  </div>
  <div class="field">
    <%= f.label :street %><br />
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :zip %><br />
    <%= f.number_field :zip %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :areaCode %><br />
    <%= f.number_field :areaCode %>
  </div>
  <div class="field">
    <%= f.label :phoneNumber %><br />
    <%= f.number_field :phoneNumber %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
		<%= f.submit 'Submit', class: 'btn btn-large btn-primary' %>
<% end %>
	  </div>
  </div>
</div>
