<p id="notice"><%= notice %></p>

<p>
	<b>First Name:</b>
	<%= @judge.first_name %>
</p>

<p>
	<b>Last Name:</b>
	<%= @judge.last_name %>
</p>

<p>
	<b>Street:</b>
	<%= @judge.street %>
</p>

<p>
	<b>City:</b>
	<%= @judge.city %>
</p>

<p>
	<b>Zip:</b>
	<%= @judge.zip %>
</p>

<p>
	<b>State:</b>
	<%= @judge.state %>
</p>

<p>
	<b>Area Code:</b>
	<%= @judge.area_code %>
</p>

<p>
	<b>phoneNumber:</b>
	<%= @judge.phone_number %>
</p>
<p>
	<b>Email:</b>
	<%= @judge.email %>
</p>



<%= link_to 'Edit', edit_judge_path(@judge) %> |
<%= link_to 'Back', judges_path %>
