<div class="buttons_row">
	<nav>
		<ul>
			<li><%= link_to 'Core Values', core_values_path , :class => 'button_blue'  %><div style="padding-top: 7px;">View all entries for core values</div></li>
			<li><%= link_to 'Robot Design', robot_designs_path , :class => 'button_red'  %> <div style="padding-top: 7px;">View all entries for robot design</div></li>
			<li><%= link_to 'Projects', projects_path , :class => 'button_orange'  %> <div style="padding-top: 7px;">View all entries for projects</div></li>
		</ul>
	</nav>
</div>

<div class="buttons_row">
	<nav>
		<ul>
			<li><%= link_to 'New Core Values', new_core_value_path , :class => 'button_blue'  %><div style="padding-top: 7px;">New Core Values entry</div></li>
			<li><%= link_to 'New Robot Design', new_robot_design_path , :class => 'button_red'  %> <div style="padding-top: 7px;">New Robot Design Entry</div></li>
			<li><%= link_to 'New Projects', new_project_path , :class => 'button_orange'  %> <div style="padding-top: 7px;">New Project Entry</div></li>
		</ul>
	</nav>
</div>