<% if signed_in? && current_user.role == "Admin" %>

<h1>All Users</h1>

<table class = "table table-bordered table-striped table table-hover pretty">
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Street</th>
    <th>City</th>
    <th>Zip</th>
    <th>State</th>
    <th>Area code</th>
    <th>Phone number</th>
    <th>Role</th>

    <% if signed_in? && current_user.role == "Admin" %>
    <th></th>
    <th></th>
    <th></th>
    <% end %>

</tr>

<% @users.each do |user| %>
<tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.street %></td>
    <td><%= user.city %></td>
    <td><%= user.zip %></td>
    <td><%= user.state %></td>
    <td><%= user.area_code %></td>
    <td><%= user.phone_number %></td>
    <td><%= user.role %></td>

    <% if signed_in? && current_user.role == "Admin" %>
    <td><%= link_to 'Show', user, :class => 'btn btn-mini btn-primary' %></td>
    <td><%= link_to 'Edit', edit_user_path(user), :class => 'btn btn-mini' %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
    <% end %>

</tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>

<% else %>

<h2>Hold on ! <br><br> You don't have access to this page</h2>

<% end %>
