<%= form_for(@project) do |f| %>
<% if @project.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

  <ul>
    <% @project.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="row">
  <div class="span6 offset5">

    <div class="field">
      <%= f.label :team_number %>
      <%= f.text_field :team_number %>
    </div>
    <div class="field">
      <%= f.label :problem_identification %>
      <%= f.text_field :problem_identification %>
    </div>
    <div class="field">
      <%= f.label :sources_of_information %>
      <%= f.text_field :sources_of_information %>
    </div>
    <div class="field">
      <%= f.label :problem_analysis %>
      <%= f.text_field :problem_analysis %>
    </div>
    <div class="field">
      <%= f.label :review_existing_solutions %>
      <%= f.text_field :review_existing_solutions %>
    </div>
    <div class="field">
      <%= f.label :team_solution %>
      <%= f.text_field :team_solution %>
    </div>
    <div class="field">
      <%= f.label :innovation %>
      <%= f.text_field :innovation %>
    </div>
    <div class="field">
      <%= f.label :implementation %>
      <%= f.text_field :implementation %>
    </div>
    <div class="field">
      <%= f.label :sharing %>
      <%= f.text_field :sharing %>
    </div>
    <div class="field">
      <%= f.label :creativity %>
      <%= f.text_field :creativity %>
    </div>
    <div class="field">
      <%= f.label :presentation_effectiveness %>
      <%= f.text_field :presentation_effectiveness %>
    </div>
    <div class="field">
      <%= f.label :research_total %>
      <%= f.text_field :research_total %>
    </div>
    <div class="field">
      <%= f.label :innovative_solution_total %>
      <%= f.text_field :innovative_solution_total %>
    </div>
    <div class="field">
      <%= f.label :presentation_total %>
      <%= f.text_field :presentation_total %>
    </div>
    <div class="field">
      <%= f.label :project_total %>
      <%= f.text_field :project_total %>
    </div>
    <div class="actions">
    <%= f.submit "Update Project", :class => "btn btn-primary btn-large"  %>
    </div>
    <% end %>

  </div>
</div>

