<%= form_for(@project) do |f| %>
<% if @project.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

  <ul>
    <% @project.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="row">
  <div class="span6 offset6">

    <div class="field">
      <%= f.label :team_number %>
      <%= f.text_field :team_number %>
    </div>
    <div class="field">
      <%= f.label :problem_identification %>
      <%= f.select :problem_identification, options_for_select(scores)%>
    </div>
    <div class="field">
      <%= f.label :sources_of_information %>
      <%= f.select :sources_of_information, options_for_select(scores)%>
    </div>
    <div class="field">
      <%= f.label :problem_analysis %>
      <%= f.select :problem_analysis, options_for_select(scores)%>
    </div>
    <div class="field">
      <%= f.label :review_existing_solutions %>
      <%= f.select :review_existing_solutions, options_for_select(scores)%>
    </div>
    <div class="field">
      <%= f.label :team_solution %>
      <%= f.select :team_solution, options_for_select(scores)%>
    </div>
    <div class="field">
      <%= f.label :innovation %>
      <%= f.select :innovation, options_for_select(scores)%>
    </div>
    <div class="field">
      <%= f.label :implementation %>
      <%= f.select :implementation, options_for_select(scores)%>
    </div>
    <div class="field">
      <%= f.label :sharing %>
      <%= f.select :sharing, options_for_select(scores)%>
    </div>
    <div class="field">
      <%= f.label :creativity %>
      <%= f.select :creativity, options_for_select(scores)%>
    </div>
    <div class="field">
      <%= f.label :presentation_effectiveness %>
      <%= f.select :presentation_effectiveness, options_for_select(scores)%>
    </div>
    <div class="actions">
    <%= f.submit "Submit", :class => "btn btn-primary btn-large"  %>
    </div>
    <% end %>

  </div>
</div>

