<script type="text/javascript">
    $(function(){
       $('[rel="tooltip"]').tooltip();
    });
</script>

<h1>Project</h1>

<table class = "table table-bordered table-striped table table-hover">
  <tr>
    <th><%= tooltip (sortable "teamNumber","Team #"), { :tooltip => 'Team #' }, :rel => 'tooltip' %></th>
    <th><%= tooltip (sortable "problemIdentification", "PI"), { :tooltip => 'Problem Identification' }, :rel => 'tooltip' %></th>
    <th><%= tooltip (sortable "sourcesOfInformation", "SOI"), { :tooltip => 'Sources of Information' }, :rel => 'tooltip' %></th>
    <th><%= tooltip (sortable "problemAnalysis", "PA"), { :tooltip => 'Problem Analyisis' }, :rel => 'tooltip' %></th>
    <th><%= tooltip (sortable "reviewExistingSolutions", "RES"), { :tooltip => 'Review Existing Solutions' }, :rel => 'tooltip' %></th>
    <th><%= tooltip (sortable "teamSolution", "TS"), { :tooltip => 'Team Solution' }, :rel => 'tooltip' %></th>
    <th><%= tooltip (sortable "innovation", "Inn"), { :tooltip => 'Innovation' }, :rel => 'tooltip' %></th>
    <th><%= tooltip (sortable "implementation", "Imp"), { :tooltip => 'Implementation' }, :rel => 'tooltip' %></th>
    <th><%= tooltip (sortable "sharing", "Sh"), { :tooltip => 'Sharing' }, :rel => 'tooltip' %></th>
    <th><%= tooltip (sortable "creativity", "C"), { :tooltip => 'Creativity' }, :rel => 'tooltip' %></th>
    <th><%= tooltip (sortable "presentationEffectiveness", "PE"), { :tooltip => 'Presentation Effectiveness' }, :rel => 'tooltip' %></th>
    <th><%= tooltip (sortable "researchTotal", "RT"), { :tooltip => 'Research Total' }, :rel => 'tooltip' %></th>
    <th><%= tooltip (sortable "innovativeSolutionTotal", "IT"), { :tooltip => 'Innovative Solution Total' }, :rel => 'tooltip' %></th>
    <th><%= tooltip (sortable "presentationTotal", "P"), { :tooltip => 'Presentation Total' }, :rel => 'tooltip' %></th>
    <th><%= tooltip (sortable "projectTotal", "PT"), { :tooltip => 'Project Total' }, :rel => 'tooltip' %></th>
	<% if signed_in? %>
	    <th></th>
	    <th></th>
	    <th></th>
	<% end %>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.teamNumber %></td>
    <td><%= project.problemIdentification %></td>
    <td><%= project.sourcesOfInformation %></td>
    <td><%= project.problemAnalysis %></td>
    <td><%= project.reviewExistingSolutions %></td>
    <td><%= project.teamSolution %></td>
    <td><%= project.innovation %></td>
    <td><%= project.implementation %></td>
    <td><%= project.sharing %></td>
    <td><%= project.creativity %></td>
    <td><%= project.presentationEffectiveness %></td>
    <td><%= project.researchTotal %></td>
    <td><%= project.innovativeSolutionTotal %></td>
    <td><%= project.presentationTotal %></td>
    <td><%= project.projectTotal %></td>
    <%# link_to 'Show', project %>
    <%# link_to 'Edit', edit_project_path(project) %>
    <%# link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
	<% if signed_in? %>
		<td><%= link_to image_tag('show.png'), project %></td>
		<td><%= link_to image_tag('penciledit.png'), edit_project_path(project) %></td>
		<td><%= link_to image_tag('delete.jpg'), project, method: :delete, data: {confirm: 'Are you sure?'}%></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />

<% if signed_in? %>
	<%= link_to 'New Project', new_project_path,rel: :tooltip , title: 'Create a new entry' %>
<% end %>