<h1>Listing Projects</h1>

<table class = "table table-bordered table-striped table table-hover table-condensed">
  <tr>
    <th><%= sortable "teamNumber","Team Number" %></th>
    <th><%= sortable "problemIdentification", "Problem Identification" %></th>
    <th><%= sortable "sourcesOfInformation", "Sources of Information" %></th>
    <th><%= sortable "problemAnalysis", "Problem Analysis" %></th>
    <th><%= sortable "reviewExistingSolutions", "Review Existing Solutions" %></th>
    <th><%= sortable "teamSolution", "Team Solution" %></th>
    <th><%= sortable "innovation", "Innovation" %></th>
    <th><%= sortable "implementation", "Implementation" %></th>
    <th><%= sortable "sharing", "Sharing" %></th>
    <th><%= sortable "creativity", "Creativity" %></th>
    <th><%= sortable "presentationEffectiveness", "Presentation Effectiveness" %></th>
    <th><%= sortable "researchTotal", "Research Total" %></th>
    <th><%= sortable "innovativeSolutionTotal", "Innovative Solution Total" %></th>
    <th><%= sortable "presentationTotal", "Presentation Total" %></th>
    <th><%= sortable "projectTotal", "Project Total" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.teamNumber %></td>
    <td><%= project.problemIdentification %></td>
    <td><%= project.sourcesOfInformation %></td>
    <td><%= project.problemAnalysis %></td>
    <td><%= project.reviewExistingSolutions %></td>
    <td><%= project.teamSolution %></td>
    <td><%= project.innovation %></td>
    <td><%= project.implementation %></td>
    <td><%= project.sharing %></td>
    <td><%= project.creativity %></td>
    <td><%= project.presentationEffectiveness %></td>
    <td><%= project.researchTotal %></td>
    <td><%= project.innovativeSolutionTotal %></td>
    <td><%= project.presentationTotal %></td>
    <td><%= project.projectTotal %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
