<h1>Listing Projects</h1>

<table class = "table table-bordered table-striped">
  <tr>
    <th>Team Number</th>
    <th>Problem Identification</th>
    <th>Sources of Information</th>
    <th>Problem Analysis</th>
    <th>Review Existing Solutions</th>
    <th>Team Solution</th>
    <th>Innovation</th>
    <th>Implementation</th>
    <th>Sharing</th>
    <th>Creativity</th>
    <th>Presentation Effectiveness</th>
    <th>Research Total</th>
    <th>Innovative Solution Total</th>
    <th>Presentation Total</th>
    <th>Project Total</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.teamNumber %></td>
    <td><%= project.problemIdentification %></td>
    <td><%= project.sourcesOfInformation %></td>
    <td><%= project.problemAnalysis %></td>
    <td><%= project.reviewExistingSolutions %></td>
    <td><%= project.teamSolution %></td>
    <td><%= project.innovation %></td>
    <td><%= project.implementation %></td>
    <td><%= project.sharing %></td>
    <td><%= project.creativity %></td>
    <td><%= project.presentationEffectiveness %></td>
    <td><%= project.researchTotal %></td>
    <td><%= project.innovativeSolutionTotal %></td>
    <td><%= project.presentationTotal %></td>
    <td><%= project.projectTotal %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
