<h1>Projects</h1>

<table class = "table table-bordered table-striped table table-hover">
  <tr>
    <th><%= sortable "teamNumber","Team #" %></th>
    <th><%= sortable "problemIdentification", "PI" %></th>
    <th><%= sortable "sourcesOfInformation", "SOI" %></th>
    <th><%= sortable "problemAnalysis", "PA" %></th>
    <th><%= sortable "reviewExistingSolutions", "RES" %></th>
    <th><%= sortable "teamSolution", "TS" %></th>
    <th><%= sortable "innovation", "Inn" %></th>
    <th><%= sortable "implementation", "Imp" %></th>
    <th><%= sortable "sharing", "Sh" %></th>
    <th><%= sortable "creativity", "C" %></th>
    <th><%= sortable "presentationEffectiveness", "PE" %></th>
    <th><%= sortable "researchTotal", "RT" %></th>
    <th><%= sortable "innovativeSolutionTotal", "IT" %></th>
    <th><%= sortable "presentationTotal", "P" %></th>
    <th><%= sortable "projectTotal", "PT" %></th>
	<% if signed_in? %>
	    <th></th>
	    <th></th>
	    <th></th>
	<% end %>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.teamNumber %></td>
    <td><%= project.problemIdentification %></td>
    <td><%= project.sourcesOfInformation %></td>
    <td><%= project.problemAnalysis %></td>
    <td><%= project.reviewExistingSolutions %></td>
    <td><%= project.teamSolution %></td>
    <td><%= project.innovation %></td>
    <td><%= project.implementation %></td>
    <td><%= project.sharing %></td>
    <td><%= project.creativity %></td>
    <td><%= project.presentationEffectiveness %></td>
    <td><%= project.researchTotal %></td>
    <td><%= project.innovativeSolutionTotal %></td>
    <td><%= project.presentationTotal %></td>
    <td><%= project.projectTotal %></td>
    <%# link_to 'Show', project %>
    <%# link_to 'Edit', edit_project_path(project) %>
    <%# link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
	<% if signed_in? %>
		<td><%= link_to image_tag('show.png'), project %></td>
		<td><%= link_to image_tag('penciledit.png'), edit_project_path(project) %></td>
		<td><%= link_to image_tag('delete.jpg'), project, method: :delete, data: {confirm: 'Are you sure?'}%></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
