<script type="text/javascript">
    $(function(){
       $('[rel="tooltip"]').tooltip();
    });
</script>

<h1>Project</h1>

<table class = "table table-bordered table-striped table table-hover">
  <tr>
    <th rel="tooltip" title="Team #"><%= sortable "teamNumber","Team #" %></th>
    <th rel="tooltip" title="Problem Identification"><%= sortable "problemIdentification", "PI" %></th>
    <th rel="tooltip" title="Sources of Information"><%= sortable "sourcesOfInformation", "SOI" %></th>
    <th rel="tooltip" title="Problem Analysis"><%= sortable "problemAnalysis", "PA" %></th>
    <th rel="tooltip" title="Review Existing Solutions"><%= sortable "reviewExistingSolutions", "RES" %></th>
    <th rel="tooltip" title="Team Solution"><%= sortable "teamSolution", "TS" %></th>
    <th rel="tooltip" title="Innovation"><%= sortable "innovation", "Inn" %></th>
    <th rel="tooltip" title="Implementation"><%= sortable "implementation", "Imp" %></th>
    <th rel="tooltip" title="Sharing"><%= sortable "sharing", "Sh" %></th>
    <th rel="tooltip" title="creativity"><%= sortable "creativity", "C" %></th>
    <th rel="tooltip" title="Presentation Effectiveness"><%= sortable "presentationEffectiveness", "PE" %></th>
    <th rel="tooltip" title="Research Total"><%= sortable "researchTotal", "RT" %></th>
    <th rel="tooltip" title="Innovative Solution Total"><%= sortable "innovativeSolutionTotal", "IT" %></th>
    <th rel="tooltip" title="Presentation Total"><%= sortable "presentationTotal", "P" %></th>
    <th rel="tooltip" title="Project Total"><%= sortable "projectTotal", "PT" %></th>
	<% if signed_in? %>
	    <th></th>
	    <th></th>
	    <th></th>
	<% end %>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.teamNumber %></td>
    <td><%= project.problemIdentification %></td>
    <td><%= project.sourcesOfInformation %></td>
    <td><%= project.problemAnalysis %></td>
    <td><%= project.reviewExistingSolutions %></td>
    <td><%= project.teamSolution %></td>
    <td><%= project.innovation %></td>
    <td><%= project.implementation %></td>
    <td><%= project.sharing %></td>
    <td><%= project.creativity %></td>
    <td><%= project.presentationEffectiveness %></td>
    <td><%= project.researchTotal %></td>
    <td><%= project.innovativeSolutionTotal %></td>
    <td><%= project.presentationTotal %></td>
    <td><%= project.projectTotal %></td>
    <%# link_to 'Show', project %>
    <%# link_to 'Edit', edit_project_path(project) %>
    <%# link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
	<% if signed_in? %>
		<td><%= link_to image_tag('show.png'), project %></td>
		<td><%= link_to image_tag('penciledit.png'), edit_project_path(project) %></td>
		<td><%= link_to image_tag('delete.jpg'), project, method: :delete, data: {confirm: 'Are you sure?'}%></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />

<% if signed_in? %>
	<%= link_to 'New Project', new_project_path %>
<% end %>