<p id="notice"><%= notice %></p>

<p>
  <b>Teamnumber:</b>
  <%= @project.teamNumber %>
</p>

<p>
  <b>Problem Identification:</b>
  <%= @project.problemIdentification %>
</p>

<p>
  <b>Sources of Information:</b>
  <%= @project.sourcesOfInformation %>
</p>

<p>
  <b>Problem Analysis:</b>
  <%= @project.problemAnalysis %>
</p>

<p>
  <b>Review Existing Solutions:</b>
  <%= @project.reviewExistingSolutions %>
</p>

<p>
  <b>Team Solution:</b>
  <%= @project.teamSolution %>
</p>

<p>
  <b>Innovation:</b>
  <%= @project.innovation %>
</p>

<p>
  <b>Implementation:</b>
  <%= @project.implementation %>
</p>

<p>
  <b>Sharing:</b>
  <%= @project.sharing %>
</p>

<p>
  <b>Creativity:</b>
  <%= @project.creativity %>
</p>

<p>
  <b>Presentation Effectiveness:</b>
  <%= @project.presentationEffectiveness %>
</p>

<p>
  <b>Research Total:</b>
  <%= @project.researchTotal %>
</p>

<p>
  <b>Innovative Solution Total:</b>
  <%= @project.innovativeSolutionTotal %>
</p>

<p>
  <b>Presentation Total:</b>
  <%= @project.presentationTotal %>
</p>

<p>
  <b>Project:</b>
  <%= @project.projectTotal %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
