<h1>Listing Robot Designs</h1>

<table class = "table table-bordered table-striped table table-hover table-condensed">
  <tr>
    <th><%= sortable "teamNumber" , "Team Number" %></th>
    <th><%= sortable "durability" , "Durability" %></th>
    <th><%= sortable "mechanicalEfficiency" , "Mechanical Efficiency" %></th>
    <th><%= sortable "mechanization" , "Mechanization" %></th>
    <th><%= sortable "programmingQuality" , "Programming Quality" %></th>
    <th><%= sortable "programmingEfficiency" , "Programming Efficiency" %></th>
    <th><%= sortable "automationNavigation" , "Automation Navigation" %></th>
    <th><%= sortable "designProcess" , "Design Process" %></th>
    <th><%= sortable "missionStrategy" , "Mission Strategy" %></th>
    <th><%= sortable "innovation" , "Innovation" %></th>
    <th><%= sortable "mechanicalDesignTotal" , "Mechanical Design Total" %></th>
    <th><%= sortable "programmingTotal" , "Programming Total" %></th>
    <th><%= sortable "strategyInnovationTotal" , "Strategy & Innovation Total" %></th>
    <th><%= sortable "robotDesignTotal" , "Robot Design Total" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @robotdesigns.each do |robotdesign| %>
  <tr>
    <td><%= robotdesign.teamNumber %></td>
    <td><%= robotdesign.durability %></td>
    <td><%= robotdesign.mechanicalEfficiency %></td>
    <td><%= robotdesign.mechanization %></td>
    <td><%= robotdesign.programmingQuality %></td>
    <td><%= robotdesign.programmingEfficiency %></td>
    <td><%= robotdesign.automationNavigation %></td>
    <td><%= robotdesign.designProcess %></td>
    <td><%= robotdesign.missionStrategy %></td>
    <td><%= robotdesign.innovation %></td>
    <td><%= robotdesign.mechanicalDesignTotal %></td>
    <td><%= robotdesign.programmingTotal %></td>
    <td><%= robotdesign.strategyInnovationTotal %></td>
    <td><%= robotdesign.robotDesignTotal %></td>
    <td><%= link_to 'Show', robotdesign %></td>
    <td><%= link_to 'Edit', edit_robotdesign_path(robotdesign) %></td>
    <td><%= link_to 'Destroy', robotdesign, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Robotdesign', new_robotdesign_path %>
