<h1>Robot Design</h1>

<table class = "table table-bordered table-striped table table-hover">
  <tr>
    <th><%= sortable "teamNumber" , "Team #" %></th>
    <th><%= sortable "durability" , "D" %></th>
    <th><%= sortable "mechanicalEfficiency" , "ME" %></th>
    <th><%= sortable "mechanization" , "M" %></th>
    <th><%= sortable "programmingQuality" , "PQ" %></th>
    <th><%= sortable "programmingEfficiency" , "PE" %></th>
    <th><%= sortable "automationNavigation" , "AN" %></th>
    <th><%= sortable "designProcess" , "DP" %></th>
    <th><%= sortable "missionStrategy" , "MS" %></th>
    <th><%= sortable "innovation" , "I" %></th>
    <th><%= sortable "mechanicalDesignTotal" , "MDT" %></th>
    <th><%= sortable "programmingTotal" , "PT" %></th>
    <th><%= sortable "strategyInnovationTotal" , "S&IT" %></th>
    <th><%= sortable "robotDesignTotal" , "RDT" %></th>
	<% if signed_in? %>
	    <th></th>
	    <th></th>
	    <th></th>
	<% end %>
  </tr>

<% @robotdesigns.each do |robotdesign| %>
  <tr>
    <td><%= robotdesign.teamNumber %></td>
    <td><%= robotdesign.durability %></td>
    <td><%= robotdesign.mechanicalEfficiency %></td>
    <td><%= robotdesign.mechanization %></td>
    <td><%= robotdesign.programmingQuality %></td>
    <td><%= robotdesign.programmingEfficiency %></td>
    <td><%= robotdesign.automationNavigation %></td>
    <td><%= robotdesign.designProcess %></td>
    <td><%= robotdesign.missionStrategy %></td>
    <td><%= robotdesign.innovation %></td>
    <td><%= robotdesign.mechanicalDesignTotal %></td>
    <td><%= robotdesign.programmingTotal %></td>
    <td><%= robotdesign.strategyInnovationTotal %></td>
    <td><%= robotdesign.robotDesignTotal %></td>
    <%# link_to 'Show', robotdesign %>
    <%# link_to 'Edit', edit_robotdesign_path(robotdesign) %>
    <%# link_to 'Destroy', robotdesign, method: :delete, data: { confirm: 'Are you sure?' } %>
	<% if signed_in? %>
		<td><%= link_to image_tag('show.png'), robotdesign %></td>
		<td><%= link_to image_tag('penciledit.png'), edit_robotdesign_path(robotdesign) %></td>
		<td><%= link_to image_tag('delete.jpg'), robotdesign, method: :delete, data: {confirm: 'Are you sure?'}%></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Robotdesign', new_robotdesign_path %>
