<script type="text/javascript">
    $(function(){
       $('[rel="tooltip"]').tooltip();
    });
</script>

<h1>Robot Design</h1>

<table class = "table table-bordered table-striped table table-hover">
  <tr>
    <th rel="tooltip" title="Team # "><%= sortable "teamNumber" , "Team #" %></th>
    <th rel="tooltip" title="Durability"><%= sortable "durability" , "D" %></th>
    <th rel="tooltip" title="Mechanical Efficiency"><%= sortable "mechanicalEfficiency" , "ME" %></th>
    <th rel="tooltip" title="Mechanization"><%= sortable "mechanization" , "M" %></th>
    <th rel="tooltip" title="Programming Quality"><%= sortable "programmingQuality" , "PQ" %></th>
    <th rel="tooltip" title="Programming Efficiency"><%= sortable "programmingEfficiency" , "PE" %></th>
    <th rel="tooltip" title="Automation Navigation"><%= sortable "automationNavigation" , "AN" %></th>
    <th rel="tooltip" title="Design Process"><%= sortable "designProcess" , "DP" %></th>
    <th rel="tooltip" title="Mission Strategy"><%= sortable "missionStrategy" , "MS" %></th>
    <th rel="tooltip" title="Innovation"><%= sortable "innovation" , "I" %></th>
    <th rel="tooltip" title="Mechanical Design Total"><%= sortable "mechanicalDesignTotal" , "MDT" %></th>
    <th rel="tooltip" title="Programming Total"><%= sortable "programmingTotal" , "PT" %></th>
    <th rel="tooltip" title="Strategy Innovation Total"><%= sortable "strategyInnovationTotal" , "S&IT" %></th>
    <th rel="tooltip" title="Robot Design Total"><%= sortable "robotDesignTotal" , "RDT" %></th>
	<% if signed_in? %>
	    <th></th>
	    <th></th>
	    <th></th>
	<% end %>
  </tr>

<% @robotdesigns.each do |robotdesign| %>
  <tr>
    <td><%= robotdesign.teamNumber %></td>
    <td><%= robotdesign.durability %></td>
    <td><%= robotdesign.mechanicalEfficiency %></td>
    <td><%= robotdesign.mechanization %></td>
    <td><%= robotdesign.programmingQuality %></td>
    <td><%= robotdesign.programmingEfficiency %></td>
    <td><%= robotdesign.automationNavigation %></td>
    <td><%= robotdesign.designProcess %></td>
    <td><%= robotdesign.missionStrategy %></td>
    <td><%= robotdesign.innovation %></td>
    <td><%= robotdesign.mechanicalDesignTotal %></td>
    <td><%= robotdesign.programmingTotal %></td>
    <td><%= robotdesign.strategyInnovationTotal %></td>
    <td><%= robotdesign.robotDesignTotal %></td>
    <%# link_to 'Show', robotdesign %>
    <%# link_to 'Edit', edit_robotdesign_path(robotdesign) %>
    <%# link_to 'Destroy', robotdesign, method: :delete, data: { confirm: 'Are you sure?' } %>
	<% if signed_in? %>
		<td><%= link_to image_tag('show.png'), robotdesign %></td>
		<td><%= link_to image_tag('penciledit.png'), edit_robotdesign_path(robotdesign) %></td>
		<td><%= link_to image_tag('delete.jpg'), robotdesign, method: :delete, data: {confirm: 'Are you sure?'}%></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />

<% if signed_in? %>
	<%= link_to 'New Robotdesign', new_robotdesign_path %>
<% end %>