<p id="notice"><%= notice %></p>

<p>
  <b>Teamnumber:</b>
  <%= @robotdesign.teamNumber %>
</p>

<p>
  <b>Durability:</b>
  <%= @robotdesign.durability %>
</p>

<p>
  <b>Mechanical Efficiency:</b>
  <%= @robotdesign.mechanicalEfficiency %>
</p>

<p>
  <b>Mechanization:</b>
  <%= @robotdesign.mechanization %>
</p>

<p>
  <b>Programming Quality:</b>
  <%= @robotdesign.programmingQuality %>
</p>

<p>
  <b>Programming Efficiency:</b>
  <%= @robotdesign.programmingEfficiency %>
</p>

<p>
  <b>Automation Navigation:</b>
  <%= @robotdesign.automationNavigation %>
</p>

<p>
  <b>Design Process:</b>
  <%= @robotdesign.designProcess %>
</p>

<p>
  <b>Mission Strategy:</b>
  <%= @robotdesign.missionStrategy %>
</p>

<p>
  <b>Innovation:</b>
  <%= @robotdesign.innovation %>
</p>

<p>
  <b>Mechanical Designtotal:</b>
  <%= @robotdesign.mechanicalDesignTotal %>
</p>

<p>
  <b>Programming Total:</b>
  <%= @robotdesign.programmingTotal %>
</p>

<p>
  <b>Strategy Innovation Total:</b>
  <%= @robotdesign.strategyInnovationTotal %>
</p>

<p>
  <b>Robot Design:</b>
  <%= @robotdesign.robotDesignTotal %>
</p>


<%= link_to 'Edit', edit_robotdesign_path(@robotdesign) %> |
<%= link_to 'Back', robotdesigns_path %>
