<p id="notice"><%= notice %></p>

<p>
  <b>Durability:</b>
  <%= @robotdesign.durability %>
</p>

<p>
  <b>Mechanicalefficiency:</b>
  <%= @robotdesign.mechanicalEfficiency %>
</p>

<p>
  <b>Mechanization:</b>
  <%= @robotdesign.mechanization %>
</p>

<p>
  <b>Programmingquality:</b>
  <%= @robotdesign.programmingQuality %>
</p>

<p>
  <b>Programmingefficiency:</b>
  <%= @robotdesign.programmingEfficiency %>
</p>

<p>
  <b>Automationnavigation:</b>
  <%= @robotdesign.automationNavigation %>
</p>

<p>
  <b>Designprocess:</b>
  <%= @robotdesign.designProcess %>
</p>

<p>
  <b>Missionstrategy:</b>
  <%= @robotdesign.missionStrategy %>
</p>

<p>
  <b>Innovation:</b>
  <%= @robotdesign.innovation %>
</p>

<p>
  <b>Mechanicaldesigntotal:</b>
  <%= @robotdesign.mechanicalDesignTotal %>
</p>

<p>
  <b>Programmingtotal:</b>
  <%= @robotdesign.programmingTotal %>
</p>

<p>
  <b>Strategyinnovationtotal:</b>
  <%= @robotdesign.strategyInnovationTotal %>
</p>

<p>
  <b>Robotdesign:</b>
  <%= @robotdesign.robotDesignTotal %>
</p>

<p>
  <b>Teamnumber:</b>
  <%= @robotdesign.teamNumber %>
</p>


<%= link_to 'Edit', edit_robotdesign_path(@robotdesign) %> |
<%= link_to 'Back', robotdesigns_path %>
