<%= form_for(@robot_design) do |f| %>
  <% if @robot_design.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@robot_design.errors.count, "error") %> prohibited this robot_design from being saved:</h2>

      <ul>
      <% @robot_design.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
  <div class="span6 offset6">

  <div class="field">
    <%= f.label :team_number %>
    <%= f.text_field :team_number %>
  </div>
  <div class="field">
    <%= f.label :durability %>
    <%= f.select :durability, options_for_select(scores)%>
  </div>
  <div class="field">
    <%= f.label :mechanical_efficiency %>
    <%= f.select :mechanical_efficiency, options_for_select(scores)%>
  </div>
  <div class="field">
    <%= f.label :mechanization %>
    <%= f.select :mechanization, options_for_select(scores)%>
  </div>
  <div class="field">
    <%= f.label :programming_quality %>
    <%= f.select :programming_quality, options_for_select(scores)%>
  </div>
  <div class="field">
    <%= f.label :programming_efficiency %>
    <%= f.select :programming_efficiency, options_for_select(scores)%>
  </div>
  <div class="field">
    <%= f.label :automation_navigation %>
    <%= f.select :automation_navigation, options_for_select(scores)%>
  </div>
  <div class="field">
    <%= f.label :design_process %>
    <%= f.select :design_process, options_for_select(scores)%>
  </div>
  <div class="field">
    <%= f.label :mission_strategy %>
    <%= f.select :mission_strategy, options_for_select(scores)%>
  </div>
  <div class="field">
    <%= f.label :innovation %>
    <%= f.select :innovation, options_for_select(scores)%>
  </div>
  <div class="actions">
    <%= f.submit "Submit", :class => "btn btn-primary btn-large"  %>
  </div>
<% end %>

  </div>
</div>
