<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css"/>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $('[rel="tooltip"]').tooltip({
      'selector': '',
      'placement': 'top'
  });
});
</script>


<h1>Robot Design</h1>
<br>

<table class = "table table-bordered table-striped table table-hover pretty">
  <tr>
    <th><%= tooltip (sortable "team_number" , "Team #") , { :tooltip => 'Team #' }, :rel => 'tooltip' %></th>
    <th><%= tooltip (sortable "durability" , "D") , { :tooltip => 'Durability' }, :rel => 'tooltip' %></th>
    <th><%= tooltip (sortable "mechanical_efficiency" , "ME") , { :tooltip => 'Mechanical Efficiency' }, :rel => 'tooltip' %></th>
    <th><%= tooltip (sortable "mechanization" , "M") , { :tooltip => 'Mechanization' }, :rel => 'tooltip' %></th>
    <th><%= tooltip (sortable "programming_quality" , "PQ") , { :tooltip => 'Programming Quality' }, :rel => 'tooltip' %></th>
    <th><%= tooltip (sortable "programming_efficiency" , "PE") , { :tooltip => 'Programming Efficiency' }, :rel => 'tooltip' %></th>
    <th><%= tooltip (sortable "automation_navigation" , "AN") , { :tooltip => 'Automation/Navigation' }, :rel => 'tooltip' %></th>
    <th><%= tooltip (sortable "design_process" , "DP") , { :tooltip => 'Design Process' }, :rel => 'tooltip' %></th>
    <th><%= tooltip (sortable "mission_strategy" , "MS") , { :tooltip => 'Mission Strategy' }, :rel => 'tooltip' %></th>
    <th><%= tooltip (sortable "innovation" , "I") , { :tooltip => 'Innovation' }, :rel => 'tooltip' %></th>
    <th><%= tooltip (sortable "mechanical_design_total" , "MDT") , { :tooltip => 'Mechanical Design Total' }, :rel => 'tooltip' %></th>
    <th><%= tooltip (sortable "programming_total" , "PT") , { :tooltip => 'Programming Total' }, :rel => 'tooltip' %></th>
    <th><%= tooltip (sortable "strategy_innovation_total" , "S&IT") , { :tooltip => 'Strategy & Innovation Total' }, :rel => 'tooltip' %></th>
    <th><%= tooltip (sortable "robot_design_total" , "RDT") , { :tooltip => 'Robot Design Total' }, :rel => 'tooltip' %></th>
    <% if signed_in? %>
    <th></th>
    <th></th>
    <th></th>
    <% end %>
</tr>

<% @robot_designs.each do |robotdesign| %>
<tr>
    <td><%= robotdesign.team_number %></td>
    <td><%= robotdesign.durability %></td>
    <td><%= robotdesign.mechanical_efficiency %></td>
    <td><%= robotdesign.mechanization %></td>
    <td><%= robotdesign.programming_quality %></td>
    <td><%= robotdesign.programming_efficiency %></td>
    <td><%= robotdesign.automation_navigation %></td>
    <td><%= robotdesign.design_process %></td>
    <td><%= robotdesign.mission_strategy %></td>
    <td><%= robotdesign.innovation %></td>
    <td><%= robotdesign.mechanical_design_total %></td>
    <td><%= robotdesign.programming_total %></td>
    <td><%= robotdesign.strategy_innovation_total %></td>
    <td><%= robotdesign.robot_design_total %></td>
    
    <% if signed_in? %>
    <td><%= link_to 'Show', robotdesign, :class => 'btn btn-mini btn-primary'  %></td>
    <td><%= link_to 'Edit', edit_robot_design_path(robotdesign), :class => 'btn btn-mini' %></td>
    <td><%= link_to 'Destroy', robotdesign, method: :delete, data: { confirm: 'Are you sure you ?' }, :class => 'btn btn-mini btn-danger' %></td>
    <% end %>
</tr>
<% end %>
</table>

<br />

<% if signed_in? %>
<%= link_to 'New Robot Design', new_robot_design_path,rel: :tooltip , title: 'Create a new entry' %>
<% end %>
