<p id="notice"><%= notice %></p>

<p>
  <b>Team number:</b>
  <%= @robot_design.team_number %>
</p>

<p>
  <b>Durability:</b>
  <%= @robot_design.durability %>
</p>

<p>
  <b>Mechanical efficiency:</b>
  <%= @robot_design.mechanical_efficiency %>
</p>

<p>
  <b>Mechanization:</b>
  <%= @robot_design.mechanization %>
</p>

<p>
  <b>Programming quality:</b>
  <%= @robot_design.programming_quality %>
</p>

<p>
  <b>Programming efficiency:</b>
  <%= @robot_design.programming_efficiency %>
</p>

<p>
  <b>Automation navigation:</b>
  <%= @robot_design.automation_navigation %>
</p>

<p>
  <b>Design process:</b>
  <%= @robot_design.design_process %>
</p>

<p>
  <b>Mission strategy:</b>
  <%= @robot_design.mission_strategy %>
</p>

<p>
  <b>Innovation:</b>
  <%= @robot_design.innovation %>
</p>

<p>
  <b>Mechanical design total:</b>
  <%= @robot_design.mechanical_design_total %>
</p>

<p>
  <b>Programming total:</b>
  <%= @robot_design.programming_total %>
</p>

<p>
  <b>Strategy innovation total:</b>
  <%= @robot_design.strategy_innovation_total %>
</p>

<p>
  <b>Robot design total:</b>
  <%= @robot_design.robot_design_total %>
</p>


<%= link_to 'Edit', edit_robot_design_path(@robot_design) %> |
<%= link_to 'Back', robot_designs_path %>
