<p id="notice"><%= notice %></p>

<p>
  <b>Teamnumber:</b>
  <%= @robot_design.team_number %>
</p>

<p>
  <b>Durability:</b>
  <%= @robot_design.durability %>
</p>

<p>
  <b>Mechanical Efficiency:</b>
  <%= @robot_design.mechanical_efficiency %>
</p>

<p>
  <b>Mechanization:</b>
  <%= @robot_design.mechanization %>
</p>

<p>
  <b>Programming Quality:</b>
  <%= @robot_design.programming_quality %>
</p>

<p>
  <b>Programming Efficiency:</b>
  <%= @robot_design.programming_efficiency %>
</p>

<p>
  <b>Automation Navigation:</b>
  <%= @robot_design.automation_navigation %>
</p>

<p>
  <b>Design Process:</b>
  <%= @robot_design.design_process %>
</p>

<p>
  <b>Mission Strategy:</b>
  <%= @robot_design.mission_strategy %>
</p>

<p>
  <b>Innovation:</b>
  <%= @robot_design.innovation %>
</p>

<p>
  <b>Mechanical Designtotal:</b>
  <%= @robot_design.mechanical_design_total %>
</p>

<p>
  <b>Programming Total:</b>
  <%= @robot_design.programming_total %>
</p>

<p>
  <b>Strategy Innovation Total:</b>
  <%= @robot_design.strategy_innovation_total %>
</p>

<p>
  <b>Robot Design:</b>
  <%= @robot_design.robot_design_total %>
</p>


<%= link_to 'Edit', edit_robot_design_path(@robot_design) %> |
<%= link_to 'Back', robot_designs_path %>
