<div class="row" >
  <div class="span6 offset3">
  <div class="actions">
<%= form_for(@corevalue) do |f| %>
  <% if @corevalue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@corevalue.errors.count, "error") %> prohibited this corevalue from being saved:</h2>

      <ul>
      <% @corevalue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :teamNumber %>
    <%= f.text_field :teamNumber %>
  </div>
  <div class="field">
	<%= f.label :discovery %><br />  
	<%= f.select :discovery, options_for_select([1,2,3,4])%>
  </div>
  <div class="field">
    <%= f.label :teamSpirit %><br />
    <%= f.select :teamSpirit, options_for_select([1,2,3,4])%>
  </div>
  <div class="field">
    <%= f.label :integration %><br />
    <%= f.select :integration, options_for_select([1,2,3,4])%>
  </div>
  <div class="field">
    <%= f.label :effectiveness %><br />
    <%= f.select :effectiveness, options_for_select([1,2,3,4])%>
  </div>
  <div class="field">
    <%= f.label :efficiency %><br />
    <%= f.select :efficiency, options_for_select([1,2,3,4])%>
  </div>
  <div class="field">
    <%= f.label :kidsDoTheWork %><br />
    <%= f.select :kidsDoTheWork, options_for_select([1,2,3,4])%>
  </div>
  <div class="field">
    <%= f.label :inclusion %><br />
    <%= f.select :inclusion, options_for_select([1,2,3,4])%>
  </div>
  <div class="field">
    <%= f.label :respect %><br />
    <%= f.select :respect, options_for_select([1,2,3,4])%>
  </div>
  <div class="field">
    <%= f.label :coopertition %><br />
    <%= f.select :coopertition, options_for_select([1,2,3,4])%>
  </div>
  <div class="field">
    <%# f.label :inspirationTotal %><br />
    <%# f.select :inspirationTotal, options_for_select([1,2,3,4])%>
  </div>
  <div class="field">
    <%# f.label :teamworkTotal %>
    <%# f.select :teamworkTotal, options_for_select([1,2,3,4])%>
  </div>
  <div class="field">
    <%# f.label :graciousProfessionalismTotal %>
    <%# f.select :graciousProfessionalismTotal, options_for_select([1,2,3,4])%>
  </div>
  <div class="field">
    <%# f.label :coreValueTotal %>
    <%# f.select :coreValueTotal, options_for_select([1,2,3,4])%>
  </div>
		<%= f.submit 'Submit', class: 'btn btn-large btn-primary' %>
<% end %>
	  </div>
  </div>
</div>

