<p id="notice"><%= notice %></p>

<p>
  <b>Team Number:</b>
  <%= @corevalue.teamNumber %>
</p>

<p>
  <b>Discovery:</b>
  <%= @corevalue.discovery %>
</p>

<p>
  <b>Teamspirit:</b>
  <%= @corevalue.teamSpirit %>
</p>

<p>
  <b>Integration:</b>
  <%= @corevalue.integration %>
</p>

<p>
  <b>Effectiveness:</b>
  <%= @corevalue.effectiveness %>
</p>

<p>
  <b>Efficiency:</b>
  <%= @corevalue.efficiency %>
</p>

<p>
  <b>Kids Do The Work:</b>
  <%= @corevalue.kidsDoTheWork %>
</p>

<p>
  <b>Inclusion:</b>
  <%= @corevalue.inclusion %>
</p>

<p>
  <b>Respect:</b>
  <%= @corevalue.respect %>
</p>

<p>
  <b>Coopertition:</b>
  <%= @corevalue.coopertition %>
</p>

<p>
  <b>Inspiration Total:</b>
  <%= @corevalue.inspirationTotal %>
</p>

<p>
  <b>Teamwork Total:</b>
  <%= @corevalue.teamworkTotal %>
</p>

<p>
  <b>Gracious Professionalism Total:</b>
  <%= @corevalue.graciousProfessionalismTotal %>
</p>

<p>
  <b>Core Value Total:</b>
  <%= @corevalue.coreValueTotal %>
</p>


<%= link_to 'Edit', edit_corevalue_path(@corevalue) %> |
<%= link_to 'Back', corevalues_path %>
