<p id="notice"><%= notice %></p>

<p>
  <b>Discovery:</b>
  <%= @corevalue.discovery %>
</p>

<p>
  <b>Teamspirit:</b>
  <%= @corevalue.teamSpirit %>
</p>

<p>
  <b>Integration:</b>
  <%= @corevalue.integration %>
</p>

<p>
  <b>Effectiveness:</b>
  <%= @corevalue.effectiveness %>
</p>

<p>
  <b>Efficiency:</b>
  <%= @corevalue.efficiency %>
</p>

<p>
  <b>Kidsdothework:</b>
  <%= @corevalue.kidsDoTheWork %>
</p>

<p>
  <b>Inclusion:</b>
  <%= @corevalue.inclusion %>
</p>

<p>
  <b>Respect:</b>
  <%= @corevalue.respect %>
</p>

<p>
  <b>Coopertition:</b>
  <%= @corevalue.coopertition %>
</p>

<p>
  <b>Inspirationtotal:</b>
  <%= @corevalue.inspirationTotal %>
</p>

<p>
  <b>Teamworktotal:</b>
  <%= @corevalue.teamworkTotal %>
</p>

<p>
  <b>Graciousprofessionalismtotal:</b>
  <%= @corevalue.graciousProfessionalismTotal %>
</p>

<p>
  <b>Corevaluetotal:</b>
  <%= @corevalue.coreValueTotal %>
</p>

<p>
  <b>Teamnumber:</b>
  <%= @corevalue.teamNumber %>
</p>


<%= link_to 'Edit', edit_corevalue_path(@corevalue) %> |
<%= link_to 'Back', corevalues_path %>
