<% if user_signed_in? %>
<h1><%= current_user.class %> Console</h1>

<div class= "text-center">
<% if current_user.class == Admin %>
<div class="btn-group">
  <a class="btn dropdown-toggle btn" data-toggle="dropdown" href="#">
    Create Accounts
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to "Administrator", '/admins/new' %></li>
	<li><%= link_to "Judge", '/judges/new' %></li>    
  </ul>
</div>


<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Edit Accounts
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to "Administrator", '/admins' %></li>
	<li><%= link_to "Judges", '/judges' %></li>
  </ul>
</div>

<% end %>

<div class="btn-group">
  <a class="btn dropdown-toggle btn" data-toggle="dropdown" href="#">
	  New Form Entry
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to "Core Values", '/corevalues/new' %></li>
	<li><%= link_to "Robot Design", '/robotdesigns/new' %></li>
	<li><%= link_to "Project", '/projects/new' %></li>
  </ul>
</div>

<div class="btn-group">
  <a class="btn dropdown-toggle btn" data-toggle="dropdown" href="#">
	  Edit Form Entries
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to "Core Values", '/corevalues' %></li>
	<li><%= link_to "Robot Design", '/robotdesigns' %></li>
	<li><%= link_to "Project", '/projects' %></li>
  </ul>
</div>

<div class="btn-group">
  <a class="btn dropdown-toggle btn" data-toggle="dropdown" href="#">
	  View Form Entries
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to "Core Values", '/corevalues' %></li>
	<li><%= link_to "Robot Design", '/robotdesigns' %></li>
	<li><%= link_to "Project", '/projects' %></li>
  </ul>
</div>

</br></br>

<% if current_user.class == Admin %>
<div class="btn-group">
	<form action = "/admins"><button class="btn">View Admins</button></form>
</div>
<div class="btn-group">
	<form action = "/judges"><button class="btn">View Judges</button></form>
</div>
<% end %>
</div>



<% else %>

<h2>You do not have sufficient privileges to view this page</h2>

<% end %>
