<div class="row" >
  <div class="span6 offset3">
  <div class="actions">
<%= form_for(@core_value) do |f| %>
  <% if @core_value.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@core_value.errors.count, "error") %> prohibited this corevalue from being saved:</h2>

      <ul>
      <% @core_value.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :team_number %>
    <%= f.text_field :team_number %>
  </div>
  <div class="field">
	<%= f.label :discovery %><br />  
	<%= f.select :discovery, options_for_select([1,2,3,4])%>
  </div>
  <div class="field">
    <%= f.label :team_spirit %><br />
    <%= f.select :team_spirit, options_for_select([1,2,3,4])%>
  </div>
  <div class="field">
    <%= f.label :integration %><br />
    <%= f.select :integration, options_for_select([1,2,3,4])%>
  </div>
  <div class="field">
    <%= f.label :effectiveness %><br />
    <%= f.select :effectiveness, options_for_select([1,2,3,4])%>
  </div>
  <div class="field">
    <%= f.label :efficiency %><br />
    <%= f.select :efficiency, options_for_select([1,2,3,4])%>
  </div>
  <div class="field">
    <%= f.label :kids_do_the_work %><br />
    <%= f.select :kids_do_the_work, options_for_select([1,2,3,4])%>
  </div>
  <div class="field">
    <%= f.label :inclusion %><br />
    <%= f.select :inclusion, options_for_select([1,2,3,4])%>
  </div>
  <div class="field">
    <%= f.label :respect %><br />
    <%= f.select :respect, options_for_select([1,2,3,4])%>
  </div>
  <div class="field">
    <%= f.label :coopertition %><br />
    <%= f.select :coopertition, options_for_select([1,2,3,4])%>
  </div>
		<%= f.submit 'Submit', class: 'btn btn-large btn-primary' %>
<% end %>
	  </div>
  </div>
</div>

