
<%= form_for(@core_value) do |f| %>
<% if @core_value.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@core_value.errors.count, "error") %> prohibited this core_value from being saved:</h2>

  <ul>
    <% @core_value.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="row">
  <div class="span6 offset5">

    <div class="field">
      <%= f.label :team_number %>
      <%= f.text_field :team_number %>
    </div>
    <div class="field">
      <%= f.label :discovery %>
	  <%= f.select :discovery, options_for_select(scores)%>
    </div>
    <div class="field">
      <%= f.label :team_spirit %>
	  <%= f.select :team_spirit, options_for_select(scores)%>
    </div>
    <div class="field">
      <%= f.label :integration %>
	  <%= f.select :integration, options_for_select(scores)%>
    </div>
    <div class="field">
      <%= f.label :effectiveness %>
      <%= f.select :effectiveness, options_for_select(scores)%>
    </div>
    <div class="field">
      <%= f.label :efficiency %>
      <%= f.select :efficiency, options_for_select(scores)%>
    </div>
    <div class="field">
      <%= f.label :kids_do_the_work %>
      <%= f.select :kids_do_the_work, options_for_select(scores)%>
    </div>
    <div class="field">
      <%= f.label :inclusion %>
      <%= f.select :inclusion, options_for_select(scores)%>
    </div>
    <div class="field">
      <%= f.label :respect %>
      <%= f.select :respect, options_for_select(scores)%>
    </div>
    <div class="field">
      <%= f.label :coopertition %>
      <%= f.select :coopertition, options_for_select(scores)%>
    </div>
    <div class="actions">
      <%= f.submit "Submit", :class => "btn btn-primary btn-large"  %>
    </div>
    <% end %>

  </div>
</div>
