<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css"/>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $('[rel="tooltip"]').tooltip({
      'selector': '',
      'placement': 'top'
  });
});
</script>

<h1>Core Values</h1>
<br>
<table class = "table table-bordered table-striped table table-hover pretty">
  <tr>
    <th><%= tooltip (sortable "team_number", "Team #"), { :tooltip => 'Team #' }, :rel => 'tooltip' %></th>
    <th><%= tooltip (sortable "discovery", "D"), { :tooltip => 'Discovery' }, :rel => 'tooltip' %></th>
    <th><%= tooltip (sortable "team_spirit", "TS"), { :tooltip => 'Team Spirit' }, :rel => 'tooltip' %></th>
    <th><%= tooltip (sortable "integration", "Integ"), { :tooltip => 'Integration' }, :rel => 'tooltip' %></th>
    <th><%= tooltip (sortable "effectiveness", "Effec"), { :tooltip => 'Effectiveness' }, :rel => 'tooltip' %></th>
    <th><%= tooltip (sortable "efficiency", "Effic"), { :tooltip => 'Efficiency' }, :rel => 'tooltip' %></th>
    <th><%= tooltip (sortable "kids_do_the_work", "KDTW"), { :tooltip => 'Kids do the Work' }, :rel => 'tooltip' %></th>
    <th><%= tooltip (sortable "inclustion", "Inc"), { :tooltip => 'Inclusion' }, :rel => 'tooltip' %></th>
    <th><%= tooltip (sortable "respect", "R"), { :tooltip => 'Respect' }, :rel => 'tooltip' %></th>
    <th><%= tooltip (sortable "coopertition", "C"), { :tooltip => 'Coopertition' }, :rel => 'tooltip' %></th>
    <th><%= tooltip (sortable "inspiration_total", "IT"), { :tooltip => 'Inspiration Total' }, :rel => 'tooltip' %></th>
    <th><%= tooltip (sortable "teamwork_total", "TwT"), { :tooltip => 'Teamwork Total' }, :rel => 'tooltip' %></th>
    <th><%= tooltip (sortable "gracious_professionalism_total", "GPT"), { :tooltip => 'Gracious Professionalism Total' }, :rel => 'tooltip' %></th>
    <th><%= tooltip (sortable "core_value_total", "CVT"), { :tooltip => 'Core Value Total' }, :rel => 'tooltip' %></th>
    <% if signed_in? %>
    <th></th>
    <th></th>
    <th></th>
    <% end %>
</tr>
<% @core_values.each do |corevalue| %>
<tr>
    <td><%= corevalue.team_number %></td>
    <td><%= corevalue.discovery %></td>
    <td><%= corevalue.team_spirit %></td>
    <td><%= corevalue.integration %></td>
    <td><%= corevalue.effectiveness %></td>
    <td><%= corevalue.efficiency %></td>
    <td><%= corevalue.kids_do_the_work %></td>
    <td><%= corevalue.inclusion %></td>
    <td><%= corevalue.respect %></td>
    <td><%= corevalue.coopertition %></td>
    <td><%= corevalue.inspiration_total %></td>
    <td><%= corevalue.teamwork_total %></td>
    <td><%= corevalue.gracious_professionalism_total %></td>
    <td><%= corevalue.core_value_total %></td>
    
    <% if signed_in? %>
    <td><%= link_to 'Show', corevalue, :class => 'btn btn-mini btn-primary'  %></td>
    <td><%= link_to 'Edit', edit_core_value_path(corevalue), :class => 'btn btn-mini' %></td>
    <td><%= link_to 'Destroy', corevalue, method: :delete, data: { confirm: 'Are you sure you ?' }, :class => 'btn btn-mini btn-danger' %></td>
    <% end %>
</tr>
<% end %>
</table>
<br />

<% if signed_in? %>
<%= link_to 'New Corevalue', new_core_value_path,rel: :tooltip , title: 'Create a new entry'%>
<% end %>

