<p id="notice"><%= notice %></p>

<p>
  <b>Team number:</b>
  <%= @core_value.team_number %>
</p>

<p>
  <b>Discovery:</b>
  <%= @core_value.discovery %>
</p>

<p>
  <b>Team spirit:</b>
  <%= @core_value.team_spirit %>
</p>

<p>
  <b>Integration:</b>
  <%= @core_value.integration %>
</p>

<p>
  <b>Effectiveness:</b>
  <%= @core_value.effectiveness %>
</p>

<p>
  <b>Efficiency:</b>
  <%= @core_value.efficiency %>
</p>

<p>
  <b>Kids do the work:</b>
  <%= @core_value.kids_do_the_work %>
</p>

<p>
  <b>Inclusion:</b>
  <%= @core_value.inclusion %>
</p>

<p>
  <b>Respect:</b>
  <%= @core_value.respect %>
</p>

<p>
  <b>Coopertition:</b>
  <%= @core_value.coopertition %>
</p>

<p>
  <b>Inspiration total:</b>
  <%= @core_value.inspiration_total %>
</p>

<p>
  <b>Teamwork total:</b>
  <%= @core_value.teamwork_total %>
</p>

<p>
  <b>Gracious professionalism total:</b>
  <%= @core_value.gracious_professionalism_total %>
</p>

<p>
  <b>Core value total:</b>
  <%= @core_value.core_value_total %>
</p>


<%= link_to 'Edit', edit_core_value_path(@core_value) %> |
<%= link_to 'Back', core_values_path %>
