<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
      <%= link_to "FLL Scoring Application", root_path, id: "logo" %>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "About", '/about' %></li>
		  <li><%= link_to "Sign In", '/users/sign_in' %></li>
		  <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
		  
        </ul>
  </div>
</header>