<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<a href = "/home"><%= image_tag "/sslogo.png"%></a>

		<ul class="nav pull-right">

			<!-- search from -->
				<%= form_tag search_search_results_path, :method => 'get', :class => "navbar-search pull-left" do %>
				<%= text_field_tag :search, params[:search], :placeholder => "Search by team number...", :class =>"input-large search-query" %>
				<% end %>
			<!-- search from -->

			<li><%= link_to "Home", home_path %></li>
			<li><%= link_to "About", '/about' %></li>

			<% if signed_in? %>
			<li><%= link_to "Console", '/console/console' %></li>



			<li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>


			<% else %>
			<li><%= link_to "Sign In", '/users/sign_in' %></li>
			<% end %>

		</ul>
	</div>
</header>